<ul id ="mlist" class="list-group">
	<li class="list-group-item"><a href="#" data-info = "1">Company Information</a></li>
	<li class="list-group-item"><a href="#">Product</a></li>
	<li class="list-group-item"><a href="#" data-info="2">Product Management</a></li>
	<li class="list-group-item"><a href="/updatePt">Update Product</a></li>
	<li class="list-group-item"><a href="/batchHandlePt">Update Product in Batch</a></li>
</ul>
					