<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link href="../../css/third_party/bootstrap.min.css" rel="stylesheet">
		<!--<link href="css/bootstrap-responsive.css" rel="stylesheet">-->
		<!--<link rel="stylesheet" type="text/css" href="../../css/third_party/jquery.bootstrap.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../css/third_party/slick.grid.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/third_party/slickgrid-bootstrap.css"/>
		<link href="../../css/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/backend.css"/>
  </head>
  <body>
  	<div class="logonCon bgColor" style="height: 100px;">
			<div class="container">
				<a href="#" style="text-decoration: none;">
					<img src="../img/logo_b.png"/>
					<h3 style="display: inline-block;">Sun Light Medical Company</h3>
				</a>
			</div>
		</div>
  	<div class="container" id="adminDiv">
				<div class="row">
					<div class="col-md-3" id="module">
						<% include adminModules.ejs %>
					</div>
					<div class="col-md-9" id="detail">
						<div class="container">
							<p>后台管理系统</p>
						</div>
					</div>
				</div>
    </div>
    <footer class="footer">
    	<% include ../footer.ejs %>
    </footer>
		<script src="../../js/third_party/jquery-1.11.3.js"></script>
		<script src="../../js/third_party/jquery.event.drag-2.2.js"></script>
		<script src="../../js/third_party/jquery-ui.min.js"></script>
		<script src="../../js/third_party/bootstrap.min.js"></script>
		
    <script src="../../js/third_party/slick.core.js"></script>
    <script src="../../js/third_party/slick.grid.js"></script>
    <script src="../../js/third_party/slick.editors.js"></script>
    <script src="../../js/third_party/bootstrap-slickgrid.js"></script>
	<script src="../../js/slick.customEditor.js"></script>
    
    <script src="../../js/admin/backend.js"></script>
    <script src="../../js/admin/product.js"></script>
  </body>
</html>
