<div class="row">
	<!--<div id="cateTb" class="table-responsive">
		<table class="table table-hover">
			<caption>响应式表格布局</caption>
	        <thead>
	        	<tr>
	            	<th>产品分类</th>
	            	<th>操作</th>
	         	</tr>
	      	</thead>
	      	<tbody>
	         	<% if(ptCate !== undefined) {%>
	         		<% for(var i = 0; i < ptCate.length; i++) {%>
	         			<tr>
	         				<td><%= ptCate[i].category %></td>
	         				<td><a href="javascript:void(0)">修改</a>&nbsp;<a href="#">删除</a></td>
	         			</tr>
	         		<% } %>	
	         	<% } %>	
	         	<tr>
     				<td></td>
     				<td><a>添加</a></td>
     			</tr>
	      	</tbody>
		</table>
	</div>-->
	<div id="ptCon" class="grid col-md-11" style="height: 300px;border: 1px solid silver;margin-bottom: 15px;border-radius: 4px;"></div>
	<div class="col-md-1">
		<button id="btAdd" class="btn btn-default">Add</button>
		<button id="btDelete" class="btn btn-default">Delete</button>
	</div>
	<button id="submit" class="btn btn-primary col-md-2 col-md-offset-3">提交</button>
</div>