<form class="form-horizontal" method="post">
	<div class="form-group">
		<label class="col-md-3 control-label" for="ptId">Name：</label>
		<div class="col-md-3">
			<input type="text" name="ptId" class="form-control" id="ptId"/>
		</div>
	</div>
</form>