<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
		<!--<link href="css/bootstrap-responsive.css" rel="stylesheet">-->
		<link href="../css/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/jquery.bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/backend.css"/>
  </head>
  <body>
  	<div class="logonCon bgColor" style="height: 100px;">
			<div class="container">
				<a href="#" style="text-decoration: none;">
					<img src="../img/logo_b.png"/>
					<h3 style="display: inline-block;">Sun Light Medical Company</h3>
				</a>
			</div>
		</div>
  	<div class="container" id="adminDiv">
				<div class="row">
					<div class="col-md-3" id="module">
						<ul id ="mlist" class="list-group">
							<li class="list-group-item"><a href="#">Company Information</a></li>
							<li class="list-group-item"><a href="#">Product</a></li>
						</ul>
					</div>
					<div class="col-md-9" id="detail">
						<div class="container">
							
						</div>
					</div>
				</div>
    </div>
    <footer class="footer">
    	<% include footer.ejs %>
    </footer>
		<script src="../js/jquery-1.11.3.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/site.js"></script>
  </body>
</html>
