<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
		<!--<link href="css/bootstrap-responsive.css" rel="stylesheet">-->
		<link href="css/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/jquery.bootstrap.css"/>
  </head>
  <body>
  	<% include header.ejs %>
  	<div class="container">
			<div class="row">
				<div id="prolist" class="col-md-3">
					<h3 id="pt">Products</h3>
					<% include productlist.ejs %>
					</div>
				<div class="col-md-9">
					<%- body %>
				</div>
			</div>
    </div>
    <footer class="footer">
    	<% include footer.ejs %>
    </footer>
		<script src="js/jquery-1.11.3.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/site.js"></script>
  </body>
</html>
