<div id="rightCon" class="product">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 ptImg">
			<img src="img\product\body bag\body bag17011.jpg" style="width: 300px;height: 300px;"/>
		</div>
	</div>
	<div class="row ptDetail">
		<div class="desct">Description</div>
		<div class="desc">
			<div class="cont">
				This body bag designed by Basic Medical Supply. Body bag has 6 strong hangdles, 3 each side. This is commonly referred to as a Human Remains Pouch, Human Remains Bag, Human Remains Pouch or a Body Bag. Material: 18 mil HD vinyl coated scrim. Static Lift Tested to 550 LB Capacity.<br /> 
Each Bag contains 3 Toe Tags.<br />
Size:36" x 96.<br />
All Packed 10/case.<br />
			</div>
			<table class="table">
				
			</table>
		</div>
	</div>
	<div class="row similar">
		<div class="desct">Similar Products</div>
		<div id="similPts" class="similarPt carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
		        <li data-target="#similPts" data-slide-to="0" class="active"></li>
		        <li data-target="#similPts" data-slide-to="1"></li>
		        <li data-target="#similPts" data-slide-to="2"></li>
	    	</ol>
	    	<div class="carousel-inner" role="listbox">
		        <div class="item active">
		        	<img class="first-slide" src="img\product\first aid bag\first aid bag-14029.jpg" alt="First slide">
		        </div>
		        <div class="item">
			          <img class="second-slide" src="img\product\first aid bag\first aid bag-14029.jpg" alt="Second slide">
		        </div>
		        <div class="item">
			          <img class="third-slide" src="img\product\first aid bag\first aid bag-14029.jpg" alt="Third slide">
		        </div>
	        </div>
	        <a class="left carousel-control" href="#similPts" role="button" data-slide="prev">
	        	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	        	<span class="sr-only">Previous</span>
	        </a>
	        <a class="right carousel-control" href="#similPts" role="button" data-slide="next">
	        	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	        	<span class="sr-only">Next</span>
	        </a>
		</div>
	</div>
</div>
