<div id="rightCon">
	<div class="row">
		<div class="col-md-4">
			<img src="img\product\body bag\body bag17011.jpg" style="width: 300px;height: 300px;"/>
		</div>
	</div>
	<div class="row ptDetail">
		<div class="desct">Description</div>
		<div class="desc">
			<div class="cont">
				This body bag designed by Basic Medical Supply. Body bag has 6 strong hangdles, 3 each side. This is commonly referred to as a Human Remains Pouch, Human Remains Bag, Human Remains Pouch or a Body Bag. Material: 18 mil HD vinyl coated scrim. Static Lift Tested to 550 LB Capacity.<br /> 
Each Bag contains 3 Toe Tags.<br />
Size:36" x 96.<br />
All Packed 10/case.<br />
			</div>
			<table class="table">
				
			</table>
		</div>
	</div>
	<div class="row similar">
		<div class="desct">Similar Products</div>
		<div class="">
			
		</div>
	</div>
</div>
