.bgColor{
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#EFEFEF,endColorStr=#FFFFFF); /*IE 6 7 8*/ 
	background: -ms-linear-gradient(top, #EFEFEF,  #FFFFFF);        /* IE 10 */
	background:-moz-linear-gradient(top,#FFFFFF,#EFEFEF);/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#EFEFEF), to(#FFFFFF));/*谷歌*/ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EFEFEF), to(#FFFFFF));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #FFFFFF, #EFEFEF);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #EFEFEF, #FFFFFF);  /*Opera 11.10+*/
}

#pt{
	color: #fff;
    border-bottom: 10px solid #fff;
    font-weight: bold;
    background-color: #AFAFAF;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 70px;
    line-height: 70px;
    text-indent: 20px;
    border-radius: 10px;
}

#plist{
    margin-top: -20px;
}
#plist .list-group-item:hover {
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #E0E0E0;
    cursor: pointer;
}
#plist .list-group-item a{
    text-decoration: none;
}
#plist li .sub{
	top: 0px;
 	display: none;
}
#plist li:hover .sub{
 	position: absolute;
/*    left: 267px;*/
    display: block;
    z-index: 999;
    width: 200px;
}
.logonCon .container{
	padding-top: 10px;
}

.navbar{
	border: 0px;
	margin-bottom: 0px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-bottom:0 !important;
    height: 36px;
}
.navbar-nav > li > a{
	padding-top:8px !important; 
}
.navbar {
	min-height:36px !important;
}

.navbar ul li  a:hover {
    /*color: green !important;*/
    background-color: #F69C55 !important;
    border-radius: 5px;
}
#navbar ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;
    margin: 0;
}
.navbar .divider-vertical {
	height: 30px;
	margin: 3px 9px;
	border-left: 1px solid #D2D2D2;
	border-right: 1px solid #ffffff;
}

#prolist{
	/*border: 1px solid silver;*/
}

.list-group-item{
    padding: 5px 10px !important;
}
#carouselCon{
	padding-top: 15px;	
}
#featuredtitle{
    border-bottom: 2px solid silver;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
}
#featureddiv{
	padding-top: 20px;
}
#featureddiv img{
	display: block;
	border: 1px solid #FFF;
	width: 150px;
	height: 150px;
}
#featureddiv img:hover{
	border: 1px solid #CCC;
}
.ptCon{
	margin: 10px;
    padding: 5px 0px;
    border: 1px solid silver;
}
.imCon{
	width: 150px;
    height: 150px;
    margin: 0px auto;
}
.rightCon{
	padding: 0px 15px;
}
.infoCon{
	border-top: 1px solid silver;
    padding: 3px 10px;
}
#navsearch{
	padding: 0px;
    margin: 6px 0px;
}

#navsearch input{
	line-height: 24px;
    height: 24px;
}

#navsearch button{
	height: 24px;
    margin: 0px;
    padding: 0px 5px;
}

.footer{
	border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    margin-top: 30px;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.footer a{
    display: inline-block;
    color: #999;
}

.footer p{
	text-align: center;
    margin: 0px;
}
